# Split the clean data into train,validation and test data

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
titanic = pd.read_csv(r'/Users/sajeeshsubramanian/Desktop/Sonale/ML_repo/Ex_Files_Machine_Learning_Algorithms/Exercise Files/titanic_clean.csv')

In [3]:
titanic.head(5)

   Survived  Pclass  Sex   Age     Fare  Comb  Cabin_ind
0         0       3    0  22.0   7.2500     1          0
1         1       1    1  38.0  71.2833     1          1
2         1       3    1  26.0   7.9250     0          0
3         1       1    1  35.0  53.1000     1          1
4         0       3    0  35.0   8.0500     0          0

In [4]:
features = titanic.drop('Survived',axis=1)
labels = titanic['Survived']

In [5]:
X_train,X_test,y_train,y_test = train_test_split(features,labels,test_size=0.4,random_state=42)

In [6]:
X_val,X_test,y_val,y_test =train_test_split(X_test,y_test,test_size=0.5,random_state=42)

In [8]:
for i in ([y_train,y_val,y_test]):
    print(round(len(i)/len(labels),2))

0.6
0.2
0.2

In [10]:
#Save the data into csv files

In [9]:
X_train.to_csv(r'/Users/sajeeshsubramanian/Desktop/Sonale/ML_repo/Ex_Files_Machine_Learning_Algorithms/Exercise Files/train_feat.csv',index=False)
X_val.to_csv(r'/Users/sajeeshsubramanian/Desktop/Sonale/ML_repo/Ex_Files_Machine_Learning_Algorithms/Exercise Files/val_feat.csv',index=False)
X_test.to_csv(r'/Users/sajeeshsubramanian/Desktop/Sonale/ML_repo/Ex_Files_Machine_Learning_Algorithms/Exercise Files/test_feat.csv',index=False)

In [11]:
y_train.to_csv(r'/Users/sajeeshsubramanian/Desktop/Sonale/ML_repo/Ex_Files_Machine_Learning_Algorithms/Exercise Files/train_label.csv',index=False)
y_val.to_csv(r'/Users/sajeeshsubramanian/Desktop/Sonale/ML_repo/Ex_Files_Machine_Learning_Algorithms/Exercise Files/val_label.csv',index=False)
y_test.to_csv(r'/Users/sajeeshsubramanian/Desktop/Sonale/ML_repo/Ex_Files_Machine_Learning_Algorithms/Exercise Files/test_label.csv',index=False)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
f = pd.read_csv(r'/Users/sajeeshsubramanian/Desktop/Sonale/ML_repo/Ex_Files_Machine_Learning_Algorithms/Exercise Files/test_label.csv')

In [14]:
f

     0
0    0
1    0
2    1
3    0
4    0
..  ..
173  0
174  1
175  0
176  1
177  1

[178 rows x 1 columns]